.movies {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;

    .card {
        width: calc(100% / 4 - 40px);
        padding: 20px;
        margin: 20px;
        background: url('/img/card-bg-2.jpg') no-repeat;
        background-size: cover;
        border-radius: 15px;
        text-align: center;
        
        span:not(.card > span) {
            color: yellow;
            font-weight: 700;
        }

        & > span {
            display: block;
        }

        & > * {
            margin: 10px 0;
            text-shadow: 0 2px 2px #000;
        }
    }
}